<form [formGroup]="form" fxFlex fxLayout="column" style="padding: 20px; max-width: 100vw !important;">
    <h5 class="modal-header">
        Данные пользователя
    </h5>

    <div fxLayout="column" style="position: relative;" fxLayoutGap="20px">
        <div fxLayout="column" style="position: relative; overflow: auto; overflow-x: hidden; max-height: calc(100vh - 200px); padding-top: 20px;">
            <div *ngIf="!readonlyView" style="position: absolute; top: -24px;">Редактирование данных пользователя:</div>
            <mat-form-field fxFlex appearance="outline" color="primery">
                <mat-label>Логин</mat-label>
                <input matInput color="primery" formControlName="login" readonly>
            </mat-form-field>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Фамилия</mat-label>
                <input matInput formControlName="lastName" [readonly]="readonlyView">
            </mat-form-field>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Имя</mat-label>
                <input matInput formControlName="firstName" [readonly]="readonlyView">
            </mat-form-field>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Отчество</mat-label>
                <input matInput formControlName="surName" [readonly]="readonlyView">
            </mat-form-field>
            <mat-form-field appearance="outline" color="primery">
                <mat-label>Дата рождения</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="birthday" [readonly]="readonlyView">
                <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="readonlyView">
                </mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Телефон</mat-label>
                <input matInput formControlName="phone" [readonly]="readonlyView">
            </mat-form-field>
            <mat-form-field fxFlex appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" [readonly]="readonlyView">
            </mat-form-field>
        </div>

        <div>
            <div *ngIf="readonlyView" fxLayout="row" fxLayoutGap="10px">
                <button *ngIf="!userId"
                fxFlex mat-button color="primary" style="border: 1px solid;" (click)="readonlyView=false">
                    Редактировать
                </button>

                <button fxFlex mat-stroked-button color="primary" mat-dialog-close style="color: black !important; background: white;">
                    Закрыть
                </button>
            </div>

            <div *ngIf="!readonlyView" fxLayout="row" fxLayoutGap="10px">
                <button fxFlex mat-button color="primary" (click)="submit()" style="border: 1px solid;" [disabled]="form?.invalid">
                    Сохранить
                </button>
        
                <button fxFlex mat-stroked-button color="primary" (click)="rollback(); readonlyView=true"style="color: black !important; background: white;">
                    Отмена
                </button>
            </div>
        </div>
    </div>
</form>