.blue-widget-theme .mdc-notched-outline {
    border: 1px solid white;
}

.item {
    position: relative;
    padding: 10px 4px;
    border-radius: 10px;
    margin: 0 10px 10px 0;
    line-height: 18px;
    border: 1px solid #CED4DA;
}

.add-button {
    cursor: pointer;
    border: 1px dashed black!important;
    background: white;
    color: black!important;
}