.product {
    padding: 8px;
    cursor: pointer;
}

.product-select {
    color: var(--main-color);
    background-color: #E9E9F7;
}

.product li {
    border-left: 8px solid gray;
    display: flex;
    padding-left: 10px;
}

.product li mat-icon {
    display: none;
}

.product:hover li mat-icon {
    display: flex;
}

.product li mat-icon {
    color: gray;
}

.product li mat-icon:hover {
    color: black;
}

.product-active li {
    border-left: 8px solid #88bb00;
}

.product:not(.product-select):hover {
    background-color: #f2f1f5;
}

form {
    padding: 10px;
    box-sizing: border-box;
    background-color: #E9E9F7;
    border-radius: 4px;
}

.mat-button {
    width: 200px !important;
    height: 42px !important;
    background: var(--main-color) !important;
    color: white !important;
}