<div class="component">
    <div fxLayout="row" fxFlex class="mat-card">
        <div fxFlex fxLayout="column" fxLayoutGap="8px">
            <h5>Кредитные продукты</h5>

            <button mat-stroked-button color="primary" (click)="createProduct()">
                Создать кредитный продукт
            </button>
            <div fxLayout="row">
                <div fxLayout="column">
                    <div>

                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
