.product {
    padding: 6px;
    cursor: pointer;
    border-left: 4px solid transparent;
}

.product-select {
    color: var(--main-color);
    background-color: #f0f0f7;
    border-left: 4px solid #ff8800;
}

.product li {
    /*border-left: 8px solid gray;*/
    color: gray;
    display: flex;
}

.product li mat-icon {
    display: none;
}

.product:hover li mat-icon {
    display: flex;
}

.product li mat-icon {
    color: gray;
}

.product li mat-icon:hover {
    color: black;
}

.product-active li {
    /*border-left: 8px solid #88bb00;*/
    color: black;
}

.product:not(.product-select):hover {
    background-color: #f2f1f5;
}

form {
    padding: 10px;
    box-sizing: border-box;
    /*background-color: #E9E9F7;*/
}

.mat-button {
    width: 200px !important;
    height: 42px !important;
    background: var(--main-color) !important;
    color: white !important;
}

.link {
    text-decoration: none !important;
    color: black !important;
    min-height: 24px;
    padding: 8px 0;
}

.link:hover {
    background-color: #f2f1f5;
}