.product {
    padding: 8px;
    /*border-radius: 4px;
    border: 1px solid rgb(0 75 140);*/
    cursor: pointer;
}

.product-select {
    background-color: #f2f1f5;
}

.product li {
    border-left: 24px solid gray;
    display: flex;
    padding-left: 10px;
    /*align-items: center;
    justify-content: center;*/
}

.product li mat-icon {
    display: none;
}

.product:hover li mat-icon {
    display: flex;
}

.product li mat-icon {
    color: gray;
}

.product li mat-icon:hover {
    color: black;
}

.product-active li {
    border-left: 24px solid #88bb00;
}

.product:hover {
    background-color: #f2f1f5;
}

form {
    padding: 20px;
    box-sizing: border-box;
    margin: 10px;
    border: 1px solid rgb(0 75 140);
    border-radius: 4px;
    background-color: #f2f1f5
}