<div class="component">
    <div fxFlex fxLayoutGap="6px" [fxLayout]="smollWindow ? 'column' : 'row'">
        <div fxLayout="row" fxFlex class="mat-card" fxFlex>
            <div fxFlex fxLayout="column" fxLayoutGap="16px">
                <div fxLayout="row" fxFlex fxLayoutGap="10px" style="overflow: hidden;">
                    <div fxLayout="column" fxFlex>
                        <mat-tab-group fxFlex style="overflow: hidden;">
                            <mat-tab label="Потребительский кредит">                
                                <div fxLayout="row wrap" fxFlex fxLayoutGap="10px">
                                    <div *ngFor="let product of consumerProducts" class="product" [attr.href]="product?.url" matRipple
                                        [class.product-active]="product.active"
                                        (click)="selectProduct=product; selectTab = LendingType.CONSUMER">
                                        <div fxFlex fxLayout="column" fxLayoutGap="6px">
                                            <div fxLayout="row">
                                                <a [attr.href]="product?.url">{{product?.name}}</a>
                                                <button mat-icon-button [matMenuTriggerFor]="menu" 
                                                style="position: absolute; top: 0; right: 0; min-width: 24px; min-width: 36px; width: 36px; align-items: center; display: flex;">
                                                    <mat-icon>more_horiz</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="$event.stopPropagation(); editProduct(product, LendingType.CONSUMER)">
                                                    <span>Редактировать</span>
                                                    </button>
                                                    <button mat-menu-item (click)="$event.stopPropagation(); delete(product, LendingType.CONSUMER)">
                                                    <span>Удалить</span>
                                                    </button>
                                                </mat-menu>
                                            </div>
                                
                                            <div fxFlex fxLayout="column" style="overflow: auto; font-size: 14px; color: gray;" fxLayoutGap="6px">
                                                <div>{{product?.comment}}</div>
                                                <div fxLayout="row" fxLayoutGap="8px">
                                                    <div>
                                                        От {{product?.minRate}}%
                                                    </div>
                                                    <div>
                                                        До {{product?.maxTerm}} мес.
                                                    </div>
                                                    <div>
                                                        До {{selectProduct?.maxAmount/1000000}} млн ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout="column" matRipple (click)="createProduct()" class="product add-button">
                                        <div fxFlex fxLayoutAlign="center center">
                                            <mat-icon>
                                                <span class="material-symbols-outlined">
                                                    add
                                                </span>
                                            </mat-icon>
                                        </div>
                                        <div fxLayoutAlign="center center"> Создать кредитный продукт </div>
                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab label="Ипотека">
                                <div fxLayout="row wrap" fxFlex fxLayoutGap="10px">
                                    <div *ngFor="let product of mortgageProducts" class="product" [attr.href]="product?.url" matRipple
                                        [class.product-active]="product.active"
                                        (click)="selectProduct=product; selectTab = LendingType.MORTGAGE">
                                        <div fxFlex fxLayout="column" fxLayoutGap="6px">
                                            <div fxLayout="row">
                                                <a [attr.href]="product?.url">{{product?.name}}</a>
                                                <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()"
                                                style="position: absolute; top: 0; right: 0; min-width: 24px; min-width: 36px; width: 36px; align-items: center; display: flex;">
                                                    <mat-icon>more_horiz</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="$event.stopPropagation(); editProduct(product, LendingType.MORTGAGE)">
                                                    <span>Редактировать</span>
                                                    </button>
                                                    <button mat-menu-item (click)="$event.stopPropagation(); delete(product, LendingType.MORTGAGE)">
                                                    <span>Удалить</span>
                                                    </button>
                                                </mat-menu>
                                            </div>
                                
                                            <div fxFlex fxLayout="column" style="overflow: auto; font-size: 14px; color: gray;" fxLayoutGap="6px">
                                                <div>{{product?.comment}}</div>
                                                <div fxLayout="row" fxLayoutGap="8px">
                                                    <div>
                                                        От {{product?.minRate}}%
                                                    </div>
                                                    <div>
                                                        До {{product?.maxTerm}} мес.
                                                    </div>
                                                    <div>
                                                        До {{selectProduct?.maxAmount/1000000}} млн ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>

                            <mat-tab label="Автокредит">
                                <div fxLayout="row wrap" fxFlex fxLayoutGap="10px">
                                    <div *ngFor="let product of autoLoanProducts" class="product" [attr.href]="product?.url" matRipple
                                        [class.product-active]="product.active"
                                        (click)="selectProduct=product; selectTab = LendingType.AUTO_LOAN">
                                        <div fxFlex fxLayout="column" fxLayoutGap="6px">
                                            <div fxLayout="row">
                                                <a [attr.href]="product?.url">{{product?.name}}</a>
                                                <button mat-icon-button [matMenuTriggerFor]="menu" 
                                                style="position: absolute; top: 0; right: 0; min-width: 24px; min-width: 36px; width: 36px; align-items: center; display: flex;">
                                                    <mat-icon>more_horiz</mat-icon>
                                                </button>
                                                <mat-menu #menu="matMenu">
                                                    <button mat-menu-item (click)="$event.stopPropagation(); editProduct(product, LendingType.AUTO_LOAN)">
                                                    <span>Редактировать</span>
                                                    </button>
                                                    <button mat-menu-item (click)="$event.stopPropagation(); delete(product, LendingType.AUTO_LOAN)">
                                                    <span>Удалить</span>
                                                    </button>
                                                </mat-menu>
                                            </div>
                                
                                            <div fxFlex fxLayout="column" style="overflow: auto; font-size: 14px; color: gray;" fxLayoutGap="6px">
                                                <div>{{product?.comment}}</div>
                                                <div fxLayout="row" fxLayoutGap="8px">
                                                    <div>
                                                        От {{product?.minRate}}%
                                                    </div>
                                                    <div>
                                                        До {{product?.maxTerm}} мес.
                                                    </div>
                                                    <div>
                                                        До {{selectProduct?.maxAmount/1000000}} млн ₽
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                        </mat-tab-group>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
