<div class="component">
    <div fxLayout="row" fxFlex class="mat-card">
        <div fxFlex fxLayout="column" fxLayoutGap="8px">
            <h5>Кредитные продукты</h5>
            <div fxLayout="row" fxFlex fxLayoutGap="10px">
                <div fxLayout="column" fxFlex="2 1 0%">
                    <mat-tab-group fxFlex>
                        <mat-tab label="Потребительский кредит">                
                            <div fxLayout="column" fxFlex fxLayoutGap="10px">
                                <div *ngFor="let product of consumerProducts" class="product" matRipple
                                    [class.product-active]="product.active"
                                    [class.product-select]="selectProduct.name == product.name"
                                    (click)="selectProduct=product">
                                    <li>
                                        {{product.name}}
                                    </li>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Автокридит">
                            <div fxLayout="column" fxFlex fxLayoutGap="10px">
                                <div *ngFor="let product of autoLoanProducts" class="product" matRipple
                                    [class.product-active]="product.active"
                                    [class.product-select]="selectProduct.name == product.name"
                                    (click)="selectProduct=product">
                                    <li>
                                        {{product.name}}
                                    </li>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab label="Ипотека">
                            <div fxLayout="column" fxFlex fxLayoutGap="10px">
                                <div *ngFor="let product of mortgageProducts" class="product" matRipple
                                    [class.product-active]="product.active"
                                    [class.product-select]="selectProduct.name == product.name"
                                    (click)="selectProduct=product">
                                    <li>
                                        {{product.name}}
                                    </li>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group>

                    <button mat-button color="primary" (click)="createProduct()">
                        Создать кредитный продукт
                    </button>
                </div>

                <div fxFlex>
                    <form *ngIf="selectProduct" fxFlex>
                        <h6>Карточка продукта</h6>
                        <li>Название продукта: {{selectProduct.name}}</li>
                        <li>Минимальная сумма кредита: {{selectProduct.minAmount}}</li>
                        <li>Максимальная сумма кредита: {{selectProduct.maxAmount}}</li>
                        <li>Минимальный срок кредита: {{selectProduct.minTerm}}</li>
                        <li>Максимальный срок кредита: {{selectProduct.maxTerm}}</li>
                        <li>Минимальная процентная ставка: {{selectProduct.minRate}}</li>
                        <li>Ссылка на описание продукта: <a>{{selectProduct.url}}</a></li>
                        <li>Краткое описание продукта: {{selectProduct.comment}}</li>
                        <li>Начало действия кредитного продукта: {{selectProduct.startDate}}</li>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
