table tr td:first-child {
    padding-left: 10px !important;
}

table {
    margin-left: 10px; width: 100%;
}

table tr:hover {
    background-color: #f2f1f5;
}

table tr td {
    cursor: default;
    padding: 4px;
}

.add-button {
    padding: 10px; cursor: pointer; width: 180px;
}

.add-button:hover {
    background-color: #f2f1f5;
}

.requests-header {
    padding: 4px 0;
    color: white;
    background: linear-gradient(50deg, rgb(0 125 140),white);
    cursor: pointer;
}
