table tr td:first-child {
    padding-left: 20px !important;
}

table tr td:last-child, table tr td:nth-child(5) {
    max-width: 50px;
    width: 50px;
}

table tr td:last-child mat-icon {
    cursor: pointer;
    visibility: hidden;
    color: gray !important;
    padding: 3px 0;
}

table tr td:nth-child(5) svg {
    cursor: pointer;
}

table tr td mat-icon {
    min-width: 24px;
}

table tr:hover td:last-child mat-icon, table tr:hover td:nth-child(5) mat-icon {
    visibility: visible;
}

table tr td:last-child mat-icon:hover {
    color: red !important;
}

table tr td:nth-child(5) mat-icon:hover {
    color: blue !important;
}

table {
    width: 100%;
    table-layout: fixed;
}

table tr:hover {
    background-color: #f2f1f5;
}

table tr td {
    cursor: default;
    padding: 2px;
}

table tr td div {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.add-button {
    padding: 10px; cursor: pointer; width: 180px;
}

.add-button:hover {
    background-color: #f2f1f5;
}

.requests-header {
    padding: 4px 0;
    color: white;
    background: linear-gradient(50deg, rgb(0 75 140),white);
    cursor: pointer;
    min-height: 32px;
    position: sticky;
    top: 0;
}
