<div [formGroup]="form" fxFlex fxLayout="column" style="padding: 20px;">
    <h4>Новая заявка</h4>
    <div fxLayout="column" style="width: 500px; max-height: calc(100vh - 200px); overflow: auto; padding: 10px 20px; margin: 0 -20px;">
        <mat-form-field appearance="outline" color="primery">
            <input matInput color="primery" placeholder="Сумма кредита" formControlName="amount" required>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <input matInput disabled color="primery" placeholder="Email" formControlName="email" required
                   matTooltip="Обязательно укажите действующую почту, на неё придёт результат вашей заявки">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-select formControlName="workExperience" placeholder="Стаж работы">
                <mat-option *ngFor="let x of WorkExperienceExt.getAll()" [value]="x">
                    {{WorkExperienceExt.getName(x)}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-select formControlName="loanCollateralType" placeholder="Вид обеспечения по кредиту">
                <mat-option *ngFor="let x of LoanCollateralTypeExt.getAll()" [value]="x">
                    {{LoanCollateralTypeExt.getName(x)}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-select formControlName="currentDebtLoad" placeholder="Количество действующих кредитов">
                <mat-option *ngFor="let x of CountActiveLoansExt.getAll()" [value]="x">
                    {{CountActiveLoansExt.getName(x)}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <input matInput color="primery" placeholder="Сумма ежемесячных платежей по кредитам"
            formControlName="currentDebtLoad">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <input matInput color="primery" placeholder="Ежемесячный доход" formControlName="monthlyIncome">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <input matInput color="primery" placeholder="Желаемая ставка по кредиту" formControlName="term">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <input matInput color="primery" formControlName="minRate" placeholder="Максимальная желаемая ставка по кредиту">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <input matInput color="primery" formControlName="maxRate" placeholder="Максимальная желаемая ставка по кредиту">
        </mat-form-field>

        <mat-checkbox color="primery" formControlName="military">
            Военнослужащий или работник ОПК России
        </mat-checkbox>

        <mat-checkbox color="primery" formControlName="stateEmployee">
            Государственный служащий
        </mat-checkbox>

        <mat-checkbox color="primery" formControlName="psbClient">
            Клиент ПСБ
        </mat-checkbox>

        <mat-checkbox color="primery" formControlName="farEastInhabitant">
            Житель Данного Востока
        </mat-checkbox>

        <mat-checkbox color="primery" formControlName="newSubjectsResident">
            Житель Новых субъектов РФ
        </mat-checkbox>

        <mat-checkbox color="primery" formControlName="itSpecialist">
            ИТ-специалист
        </mat-checkbox>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" style="padding-top: 20px;">
        <button fxFlex mat-stroked-button color="primary" (click)="submit()" [disabled]="form?.invalid">
            Создать
        </button>

        <button fxFlex mat-stroked-button color="primary" mat-dialog-close style="color: black !important; background: white;">
            Отмена
        </button>
    </div>
</div>