<div [formGroup]="form" class="signup-component">
    <mat-card fxFlex="0 1 400px" fxLayout="row">  
        <div fxFlex fxLayout="row">
            <div fxLayout="column" fxFlex>
                <h5 fxLayoutAlign="center center" style="margin-bottom: 10px;">
                    Регистрация
                </h5>

                <div fxLayout="column" style="margin: 0 -16px 16px -16px; padding: 16px 16px 0px; overflow: auto; max-height: calc(100vh - 200px);">
                    <mat-form-field fxFlex appearance="outline" color="primery">
                        <mat-label>Логин</mat-label>
                        <input autocomplete="off" matInput color="primery" formControlName="login" required>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Пароль</mat-label>
                        <input autocomplete="off" matInput type="password" formControlName="password" required>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Фамилия</mat-label>
                        <input autocomplete="off" matInput formControlName="lastName" required>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Имя</mat-label>
                        <input autocomplete="off" matInput formControlName="firstName" required>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Отчество</mat-label>
                        <input autocomplete="off" matInput formControlName="surName">
                    </mat-form-field>
                    <mat-form-field appearance="outline" color="primery">
                        <mat-label>Дата рождения</mat-label>
                        <input autocomplete="off" matInput [matDatepicker]="picker" formControlName="birthday" required>
                        <mat-datepicker-toggle matIconSuffix [for]="picker">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Телефон</mat-label>
                        <input autocomplete="off" matInput formControlName="phone">
                    </mat-form-field>
                    <mat-form-field fxFlex appearance="outline">
                        <mat-label>Email</mat-label>
                        <input autocomplete="off" matInput formControlName="email" required>
                    </mat-form-field>
                    <mat-checkbox color="primery" formControlName="assent">
                        Согласие на обработку персональных данных
                    </mat-checkbox>
                </div>

                <button fxFlex mat-stroked-button color="primary" (click)="signup()" [disabled]="form?.invalid">
                    Зарегистрироваться
                </button>

                <div fxLayoutAlign="center center" style="margin-top: 20px;">
                    Если зарегистрированы?
                </div>
                <a fxLayoutAlign="center center" (click)="router.navigate(['login'])">войти</a>
            </div>
        </div>
    </mat-card>
</div>
