<div [formGroup]="form" fxFlex fxLayout="column" style="padding: 20px; max-width: 100vw !important; min-width: 400px  !important;">
    <h5 class="modal-header" >{{data.title}}</h5>
    <div fxLayout="column" style="max-height: calc(100vh - 200px); overflow: auto; padding: 20px; margin: 0 -20px;">
        <mat-form-field appearance="outline" color="primery">
            <mat-label>Вид кредита</mat-label>
            <mat-select formControlName="lendingType">
                <mat-option *ngFor="let x of LendingTypeExt.getAll()" [value]="x">
                    {{LendingTypeExt.getName(x)}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-label>Название продукта</mat-label>
            <input matInput color="primery" formControlName="name" required>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-label>Минимальная сумма кредита</mat-label>
            <input type="number" matInput color="primery" formControlName="minAmount" required>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-label>Максимальная сумма кредита</mat-label>
            <input type="number" matInput color="primery" formControlName="maxAmount" required>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-label>Минимальный срок кредита</mat-label>
            <input type="number" matInput color="primery" formControlName="minTerm" required>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-label>Максимальный срок кредита</mat-label>
            <input type="number" matInput color="primery" formControlName="maxTerm" required>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-label>Минимальная процентная ставка</mat-label>
            <input type="number" matInput color="primery" formControlName="minRate" required>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-label>Ссылка на описание продукта</mat-label>
            <input matInput color="primery" formControlName="url">
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-label>Краткое описание продукта</mat-label>
            <textarea matInput color="primery" formControlName="comment">
            </textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" color="primery">
            <mat-label>Начало действия</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="startDate" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>


        <mat-form-field appearance="outline" color="primery">
            <mat-label>Конец действия</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="finishDate" required>
            <mat-datepicker-toggle matIconSuffix [for]="picker2">
            </mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutGap="10px" style="padding-top: 20px;">
        <button fxFlex mat-stroked-button color="primary" (click)="submit()" [disabled]="form?.invalid">
            {{data.applyButton}}
        </button>

        <button fxFlex mat-stroked-button color="primary" mat-dialog-close style="color: black !important; background: white;">
            Отмена
        </button>
    </div>
</div>