<div fxLayout="row" style="max-width: 100vw !important; height: 100%; padding: 20px;">
    <div fxLayout="row" fxFlex class="authorization-panel">
        <div [formGroup]="form" fxLayout="column" fxFlex="300px" style="margin: auto;">
            <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 98 30" height="30px" class="link-icon" matRipple>
                <defs>
                <style>
                    .cls-1 {
                    fill: #f26126;
                    }
            
                    .cls-1, .cls-2 {
                    fill-rule: evenodd;
                    }
            
                    .cls-2 {
                    fill: #232391;
                    }
                </style>
                </defs>
                <path class="cls-1" d="M19.9492,0,9.97461,10.0003H19.9492V30l9.9746-9.9759V0Z"/>
                <path class="cls-2" d="M9.9746,30l9.9746-10H9.9746V0L0,9.97618V30Z"/>
                <path class="cls-2" d="M71.1679,20.7374c-3.4951,0-5.4599-2.569-5.4599-5.7443,0-2.5495,1.4305-5.74974,5.361-5.74974a6.01678,6.01678,0,0,1,4.5967,2.20354L78.8502,8.255a10.4385,10.4385,0,0,0-8.0306-3.76185A10.13332,10.13332,0,0,0,60.4712,14.9931a10.38481,10.38481,0,0,0,18.7871,6.2172l-3.2044-3.2132A5.6542,5.6542,0,0,1,71.1679,20.7374Zm19.099.0123h-3.975V16.7541h3.975c1.2355,0,2.4858.488,2.4858,1.9922C92.7527,20.2512,91.5024,20.7497,90.2669,20.7497Zm.4987-8.2563H86.2919V9.49982H96.255V4.9996H81.0551v20s7.47-.0004,9.9598-.0004c3.993,0,6.9855-2.0066,6.9855-6.2529C98.0004,14.4928,95.0079,12.4934,90.7656,12.4934ZM39.8984,24.9996h5.2369V9.49982h7.9795V24.9996h5.2368v-20H39.8984Z"/>
            </svg>

            <mat-form-field appearance="outline" color="primery">
                <mat-label>Логин</mat-label>
                <input autocomplete="off" matInput type="search" color="primery" formControlName="username" required
                matTooltip="Тестовый пользователь: user/123">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Пароль</mat-label>
                <input autocomplete="off" matInput type="password" formControlName="password" required (keyup.enter)="!form?.invalid && login()">
            </mat-form-field>

            <div fxFlex fxLayout="row" fxLayoutGap="8px">
                <button mat-stroked-button color="primary" (click)="login()" [disabled]="form?.invalid">
                    Войти
                </button>
                <button mat-button mat-dialog-close>
                    Отмена
                </button>
            </div>

            <div fxLayoutAlign="center center" style="margin-top: 20px;">
                Еще не зарегистрированы?
            </div>
            <a href="https://online.payment.ru/reg/" fxLayoutAlign="center center" style="width: fit-content; margin: auto;">
                зарегистрироваться
            </a>
        </div>
    </div> 
</div>