<div class="nav-menu" fxLayout="column">
    <svg id="Слой_1" data-name="Слой 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" height="30px" class="link-icon" matRipple>
        <defs>
        <style>
            .cls-1 {
            fill: #f26126;
            }
    
            .cls-1, .cls-2 {
            fill-rule: evenodd;
            }
    
            .cls-2 {
            fill: white;
            }
        </style>
        </defs>
        <path class="cls-1" d="M19.9492,0,9.97461,10.0003H19.9492V30l9.9746-9.9759V0Z"/>
        <path class="cls-2" d="M9.9746,30l9.9746-10H9.9746V0L0,9.97618V30Z"/>
    </svg>

    <div class="title">Кредитный помощник Widge</div>
    
    <a mat-button class="nav-menu-item" [class.nav-menu-item-active]="router.url=='/'" routerLink="/">
        Заявки
    </a>

    <a *ngIf="userData?.role == 'SUPER_ADMIN'"
    mat-button class="nav-menu-item" [class.nav-menu-item-active]="router.url=='/creditProducts'" routerLink="/creditProducts">
        Кредитные продукты
    </a>

    <div fxFlex></div>
    <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center" style="padding: 0 10px;">
        <div fxLayoutAlign="start center" class="user-name" matRipple (click)="viewUserData()">
            {{(userData?.firstName || 'имя пользователя неизвестно') + ' ' + (userData?.lastName ? (userData?.lastName[0] + '.') : '')}}
        </div>
    </div>

    <a (click)="logout()">Выйти</a>
</div>
