.nav-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 56px;
    display: flex!important;
    z-index: 99;
    align-items: center;
    flex-direction: row !important;
    padding: 0 8px;
    line-height: 18px;
    background: var(--main-color);
    color: white !important;  
    font-size: 14px;
}

.title {
    font-size: 18px;
    margin-right: 16px;
}

.favicon {
    min-width: 40px;
    height: 24px;
    align-items: center;
    display: flex;
}

.app-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    margin-right: 20px;
    white-space: nowrap;
}

a {
    color: white !important;  
}

.nav-menu-item {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    cursor: pointer;
    color: white !important;
    text-decoration: none !important;
    font-size: 16px;
    border-radius: 0 !important;
    padding: 0 8px !important;
    text-align: center;
    font-size: 14px;
    list-style: 14px;
}

.nav-menu-item:hover {
    cursor: pointer;
    background-color: none !important;
}

.nav-menu-item-active {
    color: orange !important;
}

.nav-menu-item-active svg path {
    fill: orange !important;
}

.link-icon {
    height: 24px;
    min-width: 24px;
    margin: 0 8px 0 16px;
}

.user-name {
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
}

.user-name:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,.2);
}
