@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.component {
  overflow: auto;
  position: absolute;
  top: 48px;
  left: 0;
  height: calc(100% - 48px);
  width: 100%;
  display: inline-block;
  padding: 12px;
  background-color: #e8e1e8;
}

.mat-card {
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 4px 4px #0003;
}

.mat-mdc-card {
  padding: 16px;
}

.mat-mdc-text-field-wrapper {
  padding: 0 8px;
}

.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 6px;
  padding-bottom: 6px;
}

.mat-mdc-form-field-infix {
  min-height: 32px;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  height: 36px;
}

.mat-mdc-form-field .mat-mdc-floating-label.mdc-floating-label {
  top: 17px;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  --mdc-icon-button-state-layer-size: 36px;
  width: 36px;
  height: 36px;
  padding: 6px;
}

.mat-mdc-outlined-button {
  min-height: 36px;
}

a {
  cursor: pointer;
  color: blue !important;
  text-decoration: underline !important;
}


.mat-mdc-outlined-button:not(:disabled) {
  color: white !important;
  background: cornflowerblue;
}

input:read-only, .mat-mdc-select-disabled {
  background-color: #f2f1f5 !important;
  color: #666 !important;
}

.mdc-text-field--disabled {
    border: 1px solid gray;
    border-radius: 4px !important;
}

.mdc-text-field--outlined.mdc-text-field--disabled .mdc-floating-label--float-above {
  color: #666 !important;
}


table {
  width: 100%;
  table-layout: fixed;
  background: white;
}

table tr:hover {
  background-color: #f2f1f5;
}

table tr {
  border-bottom: 1px solid #d6d5da;
  cursor: pointer !important;
}

table tr td {
  padding: 2px;
}

table tr td div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
  border-radius: 50px;
  width: 10px;
  background-color: gray;
}

::-webkit-scrollbar {
  width: 10px;
}
