.nav-menu {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 56px;
    display: flex!important;
    z-index: 99;
    align-items: center;
    background: rgb(140 0 0);
    flex-direction: row!important;
    color: #fff;
    padding: 0 10px;
    box-shadow: 0 4px 4px #0003;
    font-size: 20px;
}

table tr td:first-child, table tr th:first-child {
    width: 240px;
    padding-left: 24px !important;
}

.header {
    padding: 8px 0;
    font-weight: 600;
    font-size: 18px;
    background: white;
    cursor: pointer;
    min-height: 40px;
    position: sticky;
    top: 0;
}

.header:hover {
    background-color: #f2f1f5;
}

table tr td {
    padding: 8px;
}